extends layout

block content
  h1 #{title}
  table(class='table')
    thead
      tr
        th
        each team, index in teams
          th= index + 1
    tbody
      each round, roundnumber in picks
        tr
          td= roundnumber + 1
          each pick in round
            - var positionClass = pick.player.position.replace('/','')
            td(class='position position-' + positionClass)
              div(class='position')= pick.player.position
              div(class='player-name')= pick.player.name
              div(class='team')= pick.team.name